<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logical Expression Parser</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

    <!-- Main style. -->
    <link type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <!-- Display error messages -->
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{message}}
            </div>
        {% endfor %}
      {% endwith %}

      <div class="main-container">
        <form action="" method="POST">
          <div class="form-group col-md-6 col-md-offset-3">
            <label for="inputTextArea">
              <h1 style="color: whitesmoke;">Parse automata from text.</h1>>
            </label>
            <textarea class="form-control" id="inputTextArea" name="inputTextArea"
             rows="16">{{textInput}}</textarea>
          </div>
          <div class="form-group col-md-6 col-md-offset-3">
            <h1 style="color: whitesmoke;">Build automaton from regex.</h1>
            <input name="regexExpressionInput" type="text" class="form-control form-control-lg input-lg" placeholder="Regex Expression: *(.(a, b))"
              value="{{regexExpression}}">
          </div>
          <div class="form-group col-md-6 col-md-offset-3">
            <button type="submit"
             class="btn btn-primary btn-lg col-md-12">
            <h2>Parse</h2>
            </button>
          </div>
        </form>

        {% if automaton %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="expression-display">
                <p><a href="/api/downloadautomaton/{{automaton.id}}" target="_blank"> Automaton File </a></p>
                <br/>
                <p style="color: #286090;">Type: {{automaton}}</p>
                <p style="color: #286090;">Infinite: {{automaton.is_infinite()}}</p>
                {% if 'NFA' in automaton.__class__.__name__ %}
                  <p><a href="/api/downloadautomaton/{{automaton.dfa_conversion.id}}" target="_blank"> DFA Converted Automaton File </a></p>
                {% endif %}
                {% if all_words %}
                  <h3>All Possible Strings:</h3>
                  <ul class="list-group">
                    {% for word in all_words %}
                      <li class="list-group-item list-group-item-info">{{word}}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% if evaluation_strings %}
                  <table class="table table-bordered table-dark table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Expected result</th>
                        <th scope="col">Actual result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for input_string, expected_result, actual_result in evaluation_strings %}
                        {% set success_class = 'bg-danger' %}
                        {% if expected_result == actual_result %}
                          {% set success_class = 'bg-success' %}
                        {% endif %}
                        <tr class="{{ success_class }}">
                          <th scope="row">{{input_string}}</th>
                          <td>{{expected_result}}</td>
                          <td>{{actual_result}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
                <img src="{{url_for('static', filename='img/{}.png'.format(automaton.id))}}">
                {% if 'NFA' in automaton.__class__.__name__ %}
                  <img src="{{url_for('static', filename='img/{}.png'.format(automaton.dfa_conversion.id))}}">
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>


    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
  </body>
</html>
