.main-container{
    margin-top: 3%;
}

body{
    background-color: rgb(80,80,80);
}

.expression-display{
    margin-top: 6vh;
    background-color: whitesmoke;
    font-size: 1.5vw;
    border-radius: 25px;
    padding: 5%

}
